﻿@Html.Partial("_Header")
@Styles.Render("~/css/signin")
@Scripts.Render("~/jQuery/signin")
<style>
        html body.bg-full-screen-image {
            background: url('@Url.Content("~/Files/DefaultImages/login-background.jpg")') no-repeat center center fixed;
            background-size: cover;
        }
</style>
<script type="text/javascript">
    $(document).ready(function () {
        window.history.pushState(null, "", window.location.href);
        window.onpopstate = function () {
            window.history.pushState(null, "", window.location.href);
        };
    });
</script>

