﻿@model ChangePasswordRequestModel
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Scripts {
    @Scripts.Render("~/jquery/addupdate")
    <script type="text/javascript">
        ActiveMenu("Account")
    </script>
}
<div class="row">
    <div class="col-12">
        <div class="card box-shadow-0 border-blue border-bottom-3">
            <div class="card-header card-head-inverse bg-blue">
                <h4 class="card-title text-white">
                    <i class="fa fa-fw fa-cog"></i>&nbsp;Change Password
                </h4>
            </div>
            <div class="card-content collapse show">
                @using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post, new { @class = "form-horizontal" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="card-body">
                        <div class="form-body">
                            <div class="form-group row">
                                <div class="col-md-4 text-left">
                                    <label>Current Password</label>
                                </div>
                                <div class="col-md-4">
                                    @Html.PasswordFor(x => x.CurrentPassword, new { @class = "form-control required" })
                                    @Html.ValidationMessageFor(x => x.CurrentPassword)
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-4 text-left">
                                    <label>New Password</label>
                                </div>
                                <div class="col-md-4">
                                    @Html.PasswordFor(x => x.NewPassword, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(x => x.NewPassword)
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-4 text-left">
                                    <label>Confirm Password</label>
                                </div>
                                <div class="col-md-4">
                                    @Html.PasswordFor(x => x.ConfirmPassword, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(x => x.ConfirmPassword)
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <button type="submit" class="btn btn-blue pull-right mb-1">
                            <i class="fa fa-save fa-fw"></i>&nbsp;Change Password
                        </button>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

