﻿@{
    ViewBag.Title = "Enter code";
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    @Html.Partial("_AccountHeader")
</head>
<body class="vertical-layout vertical-menu 1-column bg-full-screen-image menu-expanded blank-page blank-page"
      data-open="click" data-menu="vertical-menu" data-col="1-column">
    @Html.Partial("_toastr")
    <div class="app-content content">
        <div class="content-wrapper p-0">
            <div class="content-header row"></div>
            <div class="content-body">
                <section class="flexbox-container">
                    <div class="col-12 d-flex align-items-center justify-content-center">
                        <div class="col-md-4 col-10 box-shadow-2 p-0">
                            <div class="card border-grey border-lighten-3 m-0" style="border-radius:25px">
                                <div class="card-header border-0" style="border-radius:25px">
                                    <div class="card-title text-center">
                                        <img src="@Url.Content("~/Files/Logo/login-logo.png")"
                                             alt="@GlobalConfig.ProjectName logo" width="100%">
                                    </div>
                                    <p class="card-subtitle line-on-side text-muted text-center font-small-3 pt-2">
                                        <span>Sign in with @GlobalConfig.ProjectName (Admin Panel)</span>
                                    </p>
                                </div>
                                <div class="card-content">
                                    <div class="card-body pt-0">
                                        @using (Html.BeginForm("Signin", "Account", FormMethod.Post, new { @class = "form-horizontal" }))
                                        {
                                            <fieldset class="form-group position-relative has-icon-left">
                                                <div class="digit-group" data-group-name="digits" data-autosubmit="false" autocomplete="off">
                                                    <input type="text" id="digit-1" name="digit-1" data-next="digit-2" />
                                                    <input type="text" id="digit-2" name="digit-2" data-next="digit-3" data-previous="digit-1" />
                                                    <input type="text" id="digit-3" name="digit-3" data-next="digit-4" data-previous="digit-2" />
                                                    <input type="text" id="digit-4" name="digit-4" data-next="digit-5" data-previous="digit-3" />
                                                </div>
                                            </fieldset>
                                        }
                                    </div>
                                    <div class="card-body pb-0">
                                        <p class="text-center">
                                            Forgot password?
                                            <a href="@Url.Action("ForgotPassword","Account")" class="card-link blue">
                                                Click here
                                            </a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</body>
</html>
<script type="text/javascript">
    $('.digit-group').find('input').each(function () {
        $(this).attr('maxlength', 1);
        $(this).on('keyup', function (e) {
            var parent = $($(this).parent());

            if (e.keyCode === 8 || e.keyCode === 37) {
                var prev = parent.find('input#' + $(this).data('previous'));

                if (prev.length) {
                    $(prev).select();
                }
            } else if ((e.keyCode >= 48 && e.keyCode <= 57) || (e.keyCode >= 65 && e.keyCode <= 90) || (e.keyCode >= 96 && e.keyCode <= 105) || e.keyCode === 39) {
                var next = parent.find('input#' + $(this).data('next'));

                if (next.length) {
                    $(next).select();
                } else {
                    if (parent.data('autosubmit')) {
                        parent.submit();
                    }
                }
            }
        });
    });
</script>
