﻿@model ForgotPasswordRequestModel
@{
	ViewBag.Title = "ForgotPassword";
	Layout = null;
}
<!DOCTYPE html>
<html>
<head>
	@Html.Partial("_AccountHeader")
</head>
<body class="vertical-layout vertical-menu 1-column bg-full-screen-image menu-expanded blank-page blank-page"
      data-open="click" data-menu="vertical-menu" data-col="1-column">
    @Html.Partial("_toastr")
    <div class="app-content content">
        <div class="content-wrapper p-0">
            <div class="content-header row">
            </div>
            <div class="content-body">
                <section class="flexbox-container">
                    <div class="col-12 d-flex align-items-center justify-content-center">
                        <div class="col-md-4 col-10 box-shadow-2 p-0">
                            <div class="card border-grey border-lighten-3 px-2 py-2 m-0" style="border-radius:25px">
                                <div class="card-header border-0 pb-0">
                                    <div class="card-title text-center">
                                        <img src="@Url.Content("~/Files/Logo/login-logo.png")"
                                             alt="@GlobalConfig.ProjectName logo" width="100%">
                                    </div>
                                    <h6 class="card-subtitle line-on-side text-muted text-center font-small-3 pt-2">
                                        <span>We will send you a link to reset password.</span>
                                    </h6>
                                </div>
                                <div class="card-content">
                                    <div class="card-body">
                                        @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal" }))
                                        {
                                            <fieldset class="form-group position-relative has-icon-left">
                                                @Html.TextBoxFor(x => x.Email, new { @class = "form-control form-control-lg input-lg", @placeholder = "Enter email" })
                                                <div class="form-control-position">
                                                    <i class="fa fa-envelope-o"></i>
                                                </div>
                                                @Html.ValidationMessageFor(x => x.Email)
                                            </fieldset>
                                            <button type="submit" class="btn btn-blue btn-lg btn-block">
                                                <i class="fa fa-unlock"></i> Recover Password
                                            </button>
                                        }
                                    </div>
                                </div>
                                <div class="card-footer border-0">
                                    <p class="text-center">
                                        Want to Signin?
                                        <a href="@Url.RouteUrl("Signin")" class="card-link blue">Click here</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</body>
</html>

