﻿@{
	ViewBag.Title = "Password Changed";
	Layout = null;
}
<!DOCTYPE html>
<html>
<head>
	@Html.Partial("_AccountHeader")
</head>
<body class="vertical-layout vertical-menu 1-column bg-full-screen-image menu-expanded blank-page blank-page"
      data-open="click" data-menu="vertical-menu" data-col="1-column">
    @Html.Partial("_toastr")
    <div class="app-content content">
        <div class="content-wrapper p-0">
            <div class="content-header row"></div>
            <div class="content-body">
                <section class="flexbox-container">
                    <div class="col-12 d-flex align-items-center justify-content-center">
                        <div class="col-md-4 col-10 box-shadow-2 p-0">
                            <div class="card border-grey border-lighten-3 m-0">
                                <div class="card-header border-0">
                                    <div class="card-title text-center">
                                        <img src="@Url.Content("~/Files/Logo/login-logo.png")"
                                             alt="@GlobalConfig.ProjectName logo" width="100%">
                                    </div>
                                </div>
                                <div class="card-content p-1">
                                    <div class="card-body text-center pt-0">
                                        <i class="fa fa-check-circle font-large-5 success"></i>
                                        <h3>Congratulation!</h3>
                                        <p>
                                            <b>Your password has been reset successfully.</b>
                                        </p>
                                    </div>
                                    <hr>
                                    <a href="@Url.Action("Index","Home")" class="btn btn-blue btn-block btn-lg white">
                                        <i class="icon-home3"></i> Back to Home
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</body>
</html>
