﻿@model ResetPasswordRequestModel
@{
    ViewBag.Title = "Reset Password";
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    @Html.Partial("_AccountHeader")
</head>
<body class="vertical-layout vertical-menu 1-column bg-full-screen-image menu-expanded blank-page blank-page"
      data-open="click" data-menu="vertical-menu" data-col="1-column">
    @Html.Partial("_toastr")
    <div class="app-content content">
        <div class="content-wrapper p-0">
            <div class="content-header row"></div>
            <div class="content-body">
                <section class="flexbox-container">
                    <div class="col-12 d-flex align-items-center justify-content-center">
                        <div class="col-md-4 col-10 box-shadow-2 p-0">
                            <div class="card border-grey border-lighten-3 m-0">
                                <div class="card-header border-0">
                                    <div class="card-title text-center">
                                        <img src="@Url.Content("~/Files/Logo/login-logo.png")"
                                             alt="@GlobalConfig.ProjectName logo" width="100%">
                                    </div>
                                    <p class="card-subtitle line-on-side text-muted text-center font-small-3 pt-2">
                                        <span>Reset your password</span>
                                    </p>
                                </div>
                                <div class="card-content">
                                    <div class="card-body pt-0">
                                        @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post,
                                            new { @class = "form-horizontal" }))
                                        {
                                            @Html.HiddenFor(x => x.PasswordResetToken)
                                            @Html.HiddenFor(x => x.Email)
                                            <fieldset class="form-group position-relative has-icon-left">
                                                @Html.PasswordFor(x => x.Password,
                                               new { @class = "form-control input-lg", @placeholder = "New password" })
                                                <div class="form-control-position">
                                                    <i class="fa fa-key"></i>
                                                </div>
                                                @Html.ValidationMessageFor(x => x.Password)
                                            </fieldset>
                                            <fieldset class="form-group position-relative has-icon-left">
                                                @Html.PasswordFor(x => x.ConfirmPassword,
                                               new { @class = "form-control input-lg", @placeholder = "Confirm password" })
                                                <div class="form-control-position">
                                                    <i class="fa fa-key"></i>
                                                </div>
                                                @Html.ValidationMessageFor(x => x.ConfirmPassword)
                                            </fieldset>
                                            <button type="submit" class="btn btn-blue btn-lg btn-block">
                                                <i class="fa fa-lock"></i> Reset Password
                                            </button>
                                        }
                                    </div>
                                    <div class="card-body pb-0">
                                        <p class="text-center">
                                            Want to signin ?
                                            <a href="@Url.RouteUrl("Signin")" class="card-link">Click here</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</body>
</html>