﻿<footer class="footer footer-static footer-dark navbar-borderr">
    <p class="clearfix blue-grey lighten-2 text-sm-center mb-0 px-2">
        <span class="float-md-right d-block d-md-inline-block">
            Copyright &copy; @DateTime.Now.Year
            <a class="text-bold-800 grey darken-2" href="javascript:;"
               target="_blank">
                @GlobalConfig.ProjectName
            </a>, All rights reserved.
        </span>
    </p>
</footer>