﻿<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
<meta name="author" content="@GlobalConfig.ProjectName">

<title>@ViewBag.Title - @GlobalConfig.ProjectName</title>

<link rel="apple-touch-icon" sizes="57x57" href="@Url.Content("~/Files/favicon/apple-touch-icon-57x57.png")">
<link rel="apple-touch-icon" sizes="60x60" href="@Url.Content("~/Files/favicon/apple-icon-60x60.png")">
<link rel="apple-touch-icon" sizes="72x72" href="@Url.Content("~/Files/favicon/apple-icon-72x72.png")">
<link rel="apple-touch-icon" sizes="76x76" href="@Url.Content("~/Files/favicon/apple-icon-76x76.png")">
<link rel="apple-touch-icon" sizes="114x114" href="@Url.Content("~/Files/favicon/apple-icon-114x114.png")">
<link rel="apple-touch-icon" sizes="120x120" href="@Url.Content("~/Files/favicon/apple-icon-120x120.png")">
<link rel="apple-touch-icon" sizes="144x144" href="@Url.Content("~/Files/favicon/apple-icon-144x144.png")">
<link rel="apple-touch-icon" sizes="152x152" href="@Url.Content("~/Files/favicon/apple-icon-152x152.png")">
<link rel="apple-touch-icon" sizes="180x180" href="@Url.Content("~/Files/favicon/apple-icon-180x180.png")">
<link rel="icon" type="image/png" sizes="192x192" href="@Url.Content("~/Files/favicon/android-icon-192x192.png")">
<link rel="icon" type="image/png" sizes="32x32" href="@Url.Content("~/Files/favicon/favicon-32x32.png")">
<link rel="icon" type="image/png" sizes="96x96" href="@Url.Content("~/Files/favicon/favicon-96x96.png")">
<link rel="icon" type="image/png" sizes="16x16" href="@Url.Content("~/Files/favicon/favicon-16x16.png")">
<link rel="manifest" href="@Url.Content("~/Files/favicon/manifest.json")">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="@Url.Content("~/Files/favicon/ms-icon-144x144.png")">
<meta name="theme-color" content="#ffffff">
<meta name="application-name" content="@GlobalConfig.ProjectName" />
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-touch-fullscreen" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="default">
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
<link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Muli:300,400,500,700" rel="stylesheet">
<script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" integrity="sha512-c42qTSw/wPZ3/5LBzD+Bw5f7bSF2oxou6wEb+I/lqeaKV5FDIfMvvRp772y4jcJLKuGUOpbJMdg/BTl50fJYAw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/11.1.9/sweetalert2.min.css" integrity="sha512-cyIcYOviYhF0bHIhzXWJQ/7xnaBuIIOecYoPZBgJHQKFPo+TOBA+BY1EnTpmM8yKDU4ZdI3UGccNGCEUdfbBqw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<style>
    body {
        font-family: "Muli", Georgia, "Times New Roman", Times, serif !important;
    }
</style>
