﻿@model UploadImageModel
<div class="form-group">
    <div class="main-img-preview">
        <img class="thumbnail img-preview" id="preview_@Model.ImageNameProperty" src="@Model.ImageUrl" title="Preview Logo" />
    </div>
    <div class="input-group">
        <input type="hidden" id="prev_@Model.ImageNameProperty" />
        <input id="fileFake_@Model.ImageNameProperty" class="form-control" placeholder="Choose File" disabled="disabled" />
        <div class="input-group-btn">
            <div class="fileUpload btn btn-orange">
                <span><i class="fa fa-upload"></i>&nbsp;Choose&nbsp;File</span>
                <input id="fileImage_@Model.ImageNameProperty" type="file" class="attachment_upload" accept="image/x-png,image/gif,image/jpeg" />
            </div>
        </div>
    </div>
    <p class="text-danger text-bold-500">Note: Please upload jpeg image</p>
</div>

<div class="modal fade text-left" id="Modal_@Model.ImageNameProperty" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header bg-orange white">
                <h4 class="modal-title white" id="myModalLabel11">Crop Image</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="img-container allow_pointer_events" id="dvCrop_@Model.ImageNameProperty">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn grey btn-outline-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-green allow_pointer_events" onclick='SaveCropedImage(@Html.Raw(Json.Encode(Model.SaveFilePath)),@Html.Raw(Json.Encode(Model.ImageNameProperty)),"@Url.Action("UploadCropImage", "Utility")");'>
                    Save Image
                </button>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        var fileInput = document.getElementById('fileImage_' + @Html.Raw(Json.Encode(Model.ImageNameProperty)));
        fileInput.onchange = function () {
            $("#fileFake_" + @Html.Raw(Json.Encode(Model.ImageNameProperty))).val(this.value.substring(12));
            readURL(this);
        };
        fileInput.onclick = function () {
            $(this).val('');
        };

        function readURL(input) {
            if (input.files && input.files[0]) {

                var dvCropImage = document.getElementById("dvCrop_" + @Html.Raw(Json.Encode(Model.ImageNameProperty)));
                dvCropImage.innerHTML = "";

                var reader = new FileReader();

                reader.onload = function (e) {
                    var img = document.createElement("IMG");
                    img.id = "cropimage_" + @Html.Raw(Json.Encode(Model.ImageNameProperty));
                    img.className = "file-crop";
                    img.src = e.target.result;
                    dvCropImage.appendChild(img);
                };
                reader.readAsDataURL(input.files[0]);

                $("#Modal_" + @Html.Raw(Json.Encode(Model.ImageNameProperty))).modal({
                    backdrop: 'static',
                    keyboard: false
                }).on('shown.bs.modal',function () {
                        InitilizeImageCrop();
                    });
            }
        }

        function InitilizeImageCrop() {
            $("#loader_" + @Html.Raw(Json.Encode(Model.ImageNameProperty))).hide()
            $("#cropimage_" + @Html.Raw(Json.Encode(Model.ImageNameProperty))).cropper({
                aspectRatio:aspectRatioNumber,
                autoCropArea: 2,
                minCropBoxWidth: 200,
                minCropBoxHeight: 200,
                viewMode: 2,
            });
        }
    });
</script>