﻿<!DOCTYPE html>
<html>
<head>
    @Html.Partial("_Header")
    @Styles.Render("~/css/layout")
    @RenderSection("styles", required: false)
    <link href="~/assets/libs/zoom/zoom.css" rel="stylesheet" />
</head>
<body class="vertical-layout vertical-menu 2-columns menu-expanded fixed-navbar" data-open="click" data-menu="vertical-menu" data-col="2-columns" id="body">
    @Html.Partial("_PreLoader")
    @Html.Partial("_toastr")
    <nav class="header-navbar navbar-expand-md navbar navbar-with-menu fixed-top navbar-semi-dark navbar-shadow">
        <div class="navbar-wrapper">
            <div class="navbar-header">
                <ul class="nav navbar-nav flex-row">
                    <li class="nav-item mobile-menu d-md-none mr-auto">
                        <a class="nav-link nav-menu-main menu-toggle hidden-xs" href="#">
                            <i class="fa fa-bars fa-fw font-large-1"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="navbar-brand" href="@Url.Action("Index", "Home")">
                            <img class="brand-logo" alt="@GlobalConfig.ProjectName"
                                 src="@Url.Content("~/Files/Logo/logo.png")"><h4 class="brand-text">@GlobalConfig.ProjectName</h4>
                            </a>
                        </li>
                        <li class="nav-item d-md-none">
                            <a class="nav-link open-navbar-container" data-toggle="collapse" data-target="#navbar-mobile">
                                <i class="fa fa-ellipsis-v fa-fw"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="navbar-container content">
                    <div class="collapse navbar-collapse" id="navbar-mobile">
                        <ul class="nav navbar-nav mr-auto float-left">
                            <li class="nav-item d-none d-md-block">
                                <a class="nav-link nav-menu-main menu-toggle hidden-xs" href="#">
                                    <i class="fa fa-bars" aria-hidden="true"></i>
                                </a>
                            </li>
                        </ul>
                        <ul class="nav navbar-nav float-right">
                            <li class="dropdown dropdown-user nav-item">
                                <a class="dropdown-toggle nav-link dropdown-user-link" href="#" data-toggle="dropdown">
                                    <span class="avatar">
                                        @*<img src="@(GlobalConfig.UserImageUrl+GlobalConfig.DefaultImage)">*@<i></i>
                                    </span>
                                    <span class="user-name">@User.Identity.Name</span>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item" href="@Url.Action("ChangePassword","Account")">
                                        <i class="fa fa-lock"></i>&nbsp;Change Password
                                    </a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="@Url.Action("Signout","Account")">
                                        <i class="fa fa-sign-out"></i>&nbsp;Sign out
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
        <div class="main-menu menu-fixed menu-dark menu-accordion menu-shadow " data-scroll-to-active="true">
            <div class="main-menu-content">
                <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation">
                    <li class="nav-item" id="liDashboard">
                        <a href="@Url.Action("Index","Home")">
                            <i class="fa fa-dashboard fa-fw"></i>
                            <span class="menu-title" data-i18n="nav.animation.main">Dashboard</span>
                        </a>
                    </li>
                    <li class="nav-item" id="liLeads">
                        <a href="#">
                            <i class="fa fa fa-leanpub fa-fw"></i>
                            <span class="menu-title" data-i18n="nav.animation.main">Leads</span>
                        </a>
                    </li>
                    <li class="nav-item" id="liStudies">
                        <a href="@Url.Action("Index","Studies")">
                            <i class="fa fa-book fa-fw"></i>
                            <span class="menu-title" data-i18n="nav.animation.main">Study</span>
                        </a>
                    </li>
                    <li class="nav-item" id="liProposal">
                        <a href="#">
                            <i class="fa fa-comment"></i>
                            <span class="menu-title" data-i18n="nav.animation.main">Proposal</span>
                        </a>
                    </li>
                    <li class="nav-item" id="liOrder">
                        <a href="#">
                            <i class="fa fa-hand-grab-o fa-fw"></i>
                            <span class="menu-title" data-i18n="nav.animation.main">Purchase Order</span>
                        </a>
                    </li>
                    <li class="nav-item" id="liCalender">
                        <a href="#">
                            <i class="fa fa-calendar-check-o fa-fw"></i>
                            <span class="menu-title" data-i18n="nav.animation.main">Calender</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#">
                            <i class="fa fa-cogs fa-fw"></i>
                            <span class="menu-title" data-i18n="nav.dash.main">
                                Settings
                            </span>
                        </a>
                        <ul class="menu-content">
                            <li class="nav-item" id="liAppSettings">
                                <a href="@Url.RouteUrl("appsettings")">
                                    <i class="fa fa-cogs fa-fw"></i>
                                    <span class="menu-title" data-i18n="nav.animation.main">App Settings</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <div class="app-content content">
            <div class="content-wrapper">
                <div class="content-header row"></div>
                <div class="content-body">
                    @RenderBody()
                </div>
            </div>
        </div>
        @Html.Partial("_Footer")
        @Scripts.Render("~/jquery/layout")
        <script src="~/assets/libs/zoom/zoom.min.js"></script>
        @RenderSection("scripts", required: false)
    </body>
</html>