﻿<style>
      #preloader {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 9999;
      background: #fff;
    }
    #loader {
      display: block;
      position: relative;
      left: 50%;
      top: 50%;
      width: 80px;
      height: 80px;
      margin: -75px 0 0 -75px;
      border-radius: 50%;
      border: 3px solid transparent;
      border-top-color: green;
      -webkit-animation: spin 2s linear infinite;
      animation: spin 2s linear infinite;
    }
        #loader:before {
            content: "";
            position: absolute;
            top: 5px;
            left: 5px;
            right: 5px;
            bottom: 5px;
            border-radius: 50%;
            border: 3px solid transparent;
            border-top-color: #1E88E5;
            -webkit-animation: spin 3s linear infinite;
            animation: spin 3s linear infinite;
        }
        #loader:after {
            content: "";
            position: absolute;
            top: 15px;
            left: 15px;
            right: 15px;
            bottom: 15px;
            border-radius: 50%;
            border: 3px solid transparent;
            border-top-color: green;
            -webkit-animation: spin 1.5s linear infinite;
            animation: spin 1.5s linear infinite;
        }
</style>
<script>
    //paste this code under head tag or in a seperate js file.
    // Wait for window load
    $(window).on('load',function () {
        // Animate loader off screen
        $("#preloader").fadeOut("slow");
    });
</script>
<div id="preloader">
    <div id="loader"></div>
</div>

