﻿@using HtmlHelpers.BeginCollectionItem
@model StudyDetailsManageModel

@using (Html.BeginCollectionItem("StudyDetails"))
{
    <div class="removeDetails" id="div@(Model.Id)">
        @Html.HiddenFor(x => Model.Id)
        <div id="description" class="card box-shadow-0 border-blue border-bottom-3">
            <div class="card-header">
                <h4 class="card-title">Study Details</h4>
                <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                <div class="heading-elements">
                    <ul class="list-inline mb-0">
                        <li><a data-action="collapse"><i class="fa fa-plus"></i></a></li>
                        <li>
                            <a data-id="@Model.Id" onclick="removeStudyDetails(this);">
                                <i class="fa fa-trash"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="card-content collapse">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-2">
                            <div class="form-group">
                                <label>Study No</label>
                                @Html.TextBoxFor(x => x.StudyNo, new { @class = "form-control", @readonly = "readonly", @placeholder = "Study NO" })
                                @Html.ValidationMessageFor(x => x.StudyNo)
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="projectinput2">Department</label>
                                @Html.DropDownListFor(x => x.DepartmentId, new SelectList(ViewData["DepartmentList"] as IEnumerable<DropdownListItemModel>, "Value", "Text"), new
                           {
                               @class = "form-control required select2"
                           })
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="projectinput2">Study Type</label>
                                @Html.DropDownListFor(x => x.StudyTypeId, new SelectList(ViewData["StudyTypeList"] as IEnumerable<DropdownListItemModel>, "Value", "Text"), new
                                {
                                    @class = "form-control required select2"
                           })
                                 @Html.ValidationMessageFor(x => x.StudyTypeId)
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="projectinput2">Study Status</label>
                                @Html.EnumDropDownListFor(x => x.StudyStatus, new { @class = "form-control select2 required" })
                                @Html.ValidationMessageFor(x => x.StudyStatus)
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="projectinput2">SD/PI/RS</label>
                                @Html.DropDownListFor(x => x.DirectorId, new SelectList(ViewData["DirectorList"] as IEnumerable<DropdownListItemModel>, "Value", "Text"), new
                           {
                               @class = "form-control required select2"
                           })
                                @Html.ValidationMessageFor(x => x.DirectorId)
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="projectinput2">Completion Date</label>
                                @Html.TextBoxFor(x => x.CompletionDate, "{0:dd-MMM-yyyy}", new { @class = "form-control datepicker required", @placeholder = "Completion Date" })
                                @Html.ValidationMessageFor(x => x.CompletionDate)
                            </div>
                        </div>
                    </div>
                    <h4 class="form-section"> Compounds</h4>
                    <div class="row">
                        <div class="col-md-10">
                            <div class="form-group">
                                <label>Compounds</label>
                                @Html.TextBoxFor(x => x.Compounds, new { @class = "form-control required", @placeholder = "Compounds" })
                                @Html.ValidationMessageFor(x => x.Compounds)
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="projectinput2">Date Received</label>
                                @Html.TextBoxFor(x => x.CompoundsRecDate, "{0:dd-MMM-yyyy}", new { @class = "form-control datepicker required", @placeholder = "Received Date" })
                                @Html.ValidationMessageFor(x => x.CompoundsRecDate)
                            </div>
                        </div>
                    </div>
                    <h4 class="form-section"> Samples</h4>
                    <div class="row">
                        <div class="col-md-8">
                            <div class="form-group">
                                @Html.TextAreaFor(x => x.SamplesDescription, new { @class = "form-control required", @row = "4", @placeholder = "Samples Description" })
                                @Html.ValidationMessageFor(x => x.SamplesDescription)
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="projectinput2">Date Received</label>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                @Html.TextBoxFor(x => x.SamplesReceivedDate, "{0:dd-MMM-yyyy}", new { @class = "form-control datepicker required", @placeholder = "Samples Received Date" })
                                @Html.ValidationMessageFor(x => x.SamplesReceivedDate)
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <h4 class="form-section"> Phases (In Vivo / In Vitro)</h4>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Start Date</label>
                                        @Html.TextBoxFor(x => x.VIVOStartDate, "{0:dd-MMM-yyyy}", new { @class = "form-control datepicker required", @placeholder = "VIVO Start Date" })
                                        @Html.ValidationMessageFor(x => x.VIVOStartDate)
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>End Date</label>
                                        @Html.TextBoxFor(x => x.VIVOEndDate, "{0:dd-MMM-yyyy}", new { @class = "form-control datepicker required", @placeholder = "VIVO End Date" })
                                        @Html.ValidationMessageFor(x => x.VIVOEndDate)
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <h4 class="form-section"> Phases (BA)</h4>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Start Date</label>
                                        @Html.TextBoxFor(x => x.BAStartDate, "{0:dd-MMM-yyyy}", new { @class = "form-control datepicker required", @placeholder = "BA Start Date" })
                                        @Html.ValidationMessageFor(x => x.BAStartDate)
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>End Date</label>
                                        @Html.TextBoxFor(x => x.BAEndDate, "{0:dd-MMM-yyyy}", new { @class = "form-control datepicker required", @placeholder = "BA End Date" })
                                        @Html.ValidationMessageFor(x => x.BAEndDate)
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <h4 class="form-section"> Completion Details</h4>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Date Data Reported / Samples Shipped</label>
                                @Html.TextBoxFor(x => x.ReportDate, "{0:dd-MMM-yyyy}", new { @class = "form-control datepicker required", @placeholder = "BA End Date" })
                                @Html.ValidationMessageFor(x => x.ReportDate)
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="projectinput2">Responsible Scients</label>
                                @Html.TextBoxFor(x => x.CompletionAuthorisedBy, new { @class = "form-control required", @row = "4", @placeholder = "Responsible Scients" })
                                @Html.ValidationMessageFor(x => x.CompletionAuthorisedBy)
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="projectinput2">Date Archived</label>
                                @Html.TextBoxFor(x => x.DateArchived, "{0:dd-MMM-yyyy}", new { @class = "form-control datepicker required", @placeholder = "Date Archived" })
                                @Html.ValidationMessageFor(x => x.DateArchived)
                            </div>
                        </div>
                    </div>
                    <h4 class="form-section">Notes</h4>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                @Html.TextAreaFor(x => x.Notes, new { @class = "form-control required", @row = "4", @placeholder = "Study Notes" })
                                @Html.ValidationMessageFor(x => x.Notes)
                            </div>
                        </div>
                    </div>
                    <h4 class="form-section"> Invoice Details</h4>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="projectinput2">Invoice No</label>
                                @Html.TextBoxFor(x => x.InvoiceNo, new { @class = "form-control required", @placeholder = "Invoice No" })
                                @Html.ValidationMessageFor(x => x.InvoiceNo)
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="projectinput2">Invoice Date</label>
                                @Html.TextBoxFor(x => x.InvoiceDate, "{0:dd-MMM-yyyy}", new { @class = "form-control datepicker required", @placeholder = "Invoice No" })
                                @Html.ValidationMessageFor(x => x.InvoiceDate)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<script type="text/javascript">
    $(function () {
        $('.datepicker').daterangepicker({
            singleDatePicker: true,
            showDropdowns: true,
            locale: {
                cancelLabel: 'Cancel',
                format: 'DD-MMM-YYYY'
            }
        });

        $('a[data-action="collapse"]').on('click', function (e) {
            e.preventDefault();
            $(this).closest('.card').children('.card-content').collapse('toggle');
            $(this).closest('.card').find('[data-action="collapse"] i').toggleClass('fa-minus fa-plus');
        });
        $(".select2").select2({
            allowClear: true,
        });
    });
</script>
