﻿<!DOCTYPE html>
<html>
<head>
    @Html.Partial("_Header")
    @Styles.Render("~/css/signin")
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    @Scripts.Render("~/jQuery/signin")
    <script type="text/javascript">
    $(document).ready(function () {
        window.history.pushState(null, "", window.location.href);
        window.onpopstate = function () {
            window.history.pushState(null, "", window.location.href);
        };
    });
    </script>
</head>
<body class="vertical-layout vertical-menu menu-expanded fixed-navbar" data-open="click" data-menu="vertical-menu" data-col="1-column">
    @Html.Partial("_toastr")
    <div class="app-content content">
        <div class="content-wrapper">
            <div class="content-header row"></div>
            @RenderBody()
        </div>
    </div>
</body>
</html>