.field-validation-error {
    color: #DA4453
}

.input-validation-error, .input-validation-error * {
    color: #DA4453 !important;
    border-color: #DA4453 !important;
}

.btn-orange {
    background-color: #F5822B !important;
    border-color: #F5822B !important;
    color: #ffffff;
}

    .btn-orange:hover {
        color: #fff;
        box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.15), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
    }

    .btn-orange::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        border-radius: 30px;
        opacity: 0;
        transform: scale(0, 0);
        z-index: -1;
        -webkit-transition: all 0.5s ease-out 0s;
        -moz-transition: all 0.5s ease-out 0s;
        -ms-transition: all 0.5s ease-out 0s;
        -o-transition: all 0.5s ease-out 0s;
        transition: all 0.5s ease-out 0s;
    }

    .btn-orange:hover::before {
        background-color: rgba(255, 255, 255, 0.2);
        opacity: 1;
        transform: scale(1, 1);
    }

.btn-golden {
    background-color: #ba9453 !important;
    border-color: #ba9453 !important;
    color: #ffffff;
}

    .btn-golden:hover {
        color: #fff !important;
        box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.15), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
    }

    .btn-golden::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        border-radius: 30px;
        opacity: 0;
        transform: scale(0, 0);
        z-index: -1;
        -webkit-transition: all 0.5s ease-out 0s;
        -moz-transition: all 0.5s ease-out 0s;
        -ms-transition: all 0.5s ease-out 0s;
        -o-transition: all 0.5s ease-out 0s;
        transition: all 0.5s ease-out 0s;
    }

    .btn-golden:hover::before {
        background-color: rgba(1,219,170, 0.2);
        opacity: 1;
        transform: scale(1, 1);
    }
