﻿@model ManageStudiesModel
@{
    ViewBag.Title = ViewBag.Action + " Studies";
    string _action = ViewBag.Action;
}
@section Styles{
    @Styles.Render("~/css/addupdate")
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
}
<div class="row">
    <div class="col-12">
        <div class="card box-shadow-0 border-blue border-bottom-3">
            <div class="card-header card-head-inverse">
                <h4 class="card-title text-black-50">
                    @{
                        if (_action == "Add")
                        {
                            <i class="fa fa-fw fa-plus"></i>
                        }
                        else
                        {
                            <i class="fa fa-fw fa-edit"></i>
                        }
                    }@_action Studies
                </h4>
            </div>
            <div class="card-content collapse show pl-2">
                @using (Html.BeginForm(_action, "Studies", FormMethod.Post, new { Id = "frmSubmit" }))
                {
                    @Html.AntiForgeryToken()
                    if (Model != null)
                    {
                        @Html.HiddenFor(x => x.Id)
                    }
                    <div class="card-body">
                        <div class="form-body">
                            <div class="form-group row">
                                <div class="col-md-12 col-lg-12">
                                    <div class="form-group row">
                                        <div class="col-md-3">
                                            <label>Select Customer<span class="red">*</span></label>
                                            @Html.DropDownListFor(x => x.CustomerId, new SelectList(ViewData["CustomersList"] as IEnumerable<DropdownListItemModel>, "Value", "Text"), new
                               {
                                   @class = "form-control select2"
                               })
                                        </div>
                                        <div class="col-md-3">
                                            <label>Proposal Number <span class="red">*</span></label>
                                            @Html.TextBoxFor(x => x.ProposalNo, new { @class = "form-control", @placeholder = "Proposal Number" })
                                            @Html.ValidationMessageFor(x => x.ProposalNo)
                                        </div>
                                        <div class="col-md-3">
                                            <label>Proposal Date <span class="red">*</span></label>
                                            @Html.TextBoxFor(x => x.ProposalDate, new { @class = "form-control datepicker", @placeholder = "Proposal Date" })
                                            @Html.ValidationMessageFor(x => x.ProposalDate)
                                        </div>
                                        <div class="col-md-3">
                                            <label></label>
                                            <a href="javascript:;" id="addStudentDetails" class="btn btn-blue mr-1">
                                                <i class="fa fa-plus fa-fw"></i>&nbsp;Add new study details
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="col-md-12 p-0" id="div_study_details">
                            @if (Model.StudyDetails != null && Model.StudyDetails.Any())
                            {
                                foreach (var item in Model.StudyDetails)
                                {
                                    @Html.Partial("_StudyDetails", item)
                                }
                            }
                        </div>
                    </div>
                    <div class="card-footer">
                        <a href="@Url.Action("Index", "ServiceProvider")" class="btn btn-grey">
                            <i class="fa fa-arrow-left fa-fw"></i>&nbsp;Go to List
                        </a>
                        <button type="submit" class="btn btn-blue pull-right frmSubmit mb-1">
                            <i class="fa fa-save fa-fw"></i><text>&nbsp; Submit</text>
                        </button>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    @Scripts.Render("~/jquery/addupdate")
    <script type="text/javascript">
        ActiveMenu("Studies");
        $(function () {
            $('#ProposalDate').daterangepicker({
                autoUpdateInput: true,
                singleDatePicker: true,
                showDropdowns: true,
                startDate: moment().add(0, 'day'),
                locale: {
                    cancelLabel: 'Cancel',
                    format: 'DD-MMMM-YYYY'
                }
            });
            $("#CustomerId").select2({
                placeholder: "Select Customer",
                allowClear: true,
                multiple: false,
            });
        });

        $("#addStudentDetails").on("click",function () {
                StartBlockPage();
            var Url = '@Url.Action("AddNewStudyDetails")';
                $.get(Url, function (template) {
                    $("#div_study_details").append(template);
                }).done(function (responce) {
                    CloseBlockPage();
                });
          });

        function removeStudyDetails(element) {
            var dId = $(element).data("id");
            var removecp = $(element).closest('.removeDetails')[0];
            console.log(dId)
            if (dId <= 0) {
                Swal.fire({
                    title: "Are you sure do you want to delete this details?",
                    text: "You won't be able to revert this!",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes, delete it!',
                    cancelButtonText: "No, cancel!",
                    showClass: {
                        popup: 'animate__animated animate__fadeInDown'
                    },
                    hideClass: {
                        popup: 'animate__animated animate__fadeOutUp'
                    }
                }).then((result) => {
                    if (result.isConfirmed) {
                        removecp.remove()
                        Swal.fire("Success!", "Details removed!", "success");
                    }
                    else {
                        control.children('i').addClass('fa-trash').removeClass('fa-spinner spinner');
                    }
                })
            }
            else {
                removecp.remove()
            }
        }
    </script>
}