﻿@{
    ViewBag.Title = "Studies";
}
@Styles.Render("~/css/viewgrid")
@Styles.Render("~/css/select2")
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
<div class="row">
    <div class="col-12">
        <div class="card box-shadow-0 border-blue border-bottom-3">
            <div class="card-header card-head-inverse bg-blue">
                <h4 class="card-title text-white">Filter options for studies!</h4>
                <a class="heading-elements-toggle"><i class="icon-ellipsis font-medium-3 white"></i></a>
                <div class="heading-elements">
                    <ul class="list-inline mb-0">
                        <li class="hidden-sm-down">
                            <a data-action="collapse"><i class="fa fa-minus text-white font-size-large"></i></a>
                        </li>
                        <li class="hidden-sm-down">
                            <a data-action="expand"><i class="fa fa-expand text-white font-size-large"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="card-content collapse show p-2">
                <div class="card-block">
                    <div class="col-12">
                        <div class="form-group row">
                            <div class="col-md-3">
                                @Html.DropDownList("DepartmentId", new SelectList(ViewData["DepartmentList"] as IEnumerable<DropdownListItemModel>, "Value", "Text"), new
                           {
                               @class = "form-control select2"
                           })
                            </div>
                            <div class="col-md-2">
                                @Html.DropDownList("DerecorId", new SelectList(ViewData["DirectorList"] as IEnumerable<DropdownListItemModel>, "Value", "Text"), new
                           {
                               @class = "form-control select2"
                           })
                            </div>
                            <div class="col-md-2">
                                @Html.DropDownList("StudyTypeId", new SelectList(ViewData["StudyTypeList"] as IEnumerable<DropdownListItemModel>, "Value", "Text"), new
                           {
                               @class = "form-control select2"
                           })
                            </div>
                            <divl class="col-md-3">

                                @Html.TextBox("DateRange", "", new { @class = "form-control daterange" })
                            </divl>
                            <div class="col-md-2">
                                <a href="@Url.Action("Add")" class="btn btn-blue mr-1">
                                    <i class="fa fa-search"></i>&nbsp;Search
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="card box-shadow-0 border-blue border-bottom-3">
            <div class="card-header card-head-inverse bg-white">
                <h4 class="card-title text-black-50">
                    <i class="fa fa-fw fa-cogs"></i>&nbsp;Manage Studies
                </h4>
                <a class="heading-elements-toggle">
                    <i class="fa fa-ellipsis-v fa-fw font-medium-3"></i>
                </a>
                <div class="heading-elements">
                    <ul class="list-inline mb-0">
                        <li>
                            <a href="@Url.Action("Add")" class="btn btn-blue mr-1">
                                <i class="fa fa-plus fa-fw"></i>&nbsp;Add New
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="card-content collapse show">
                <div class="card-body">
                    <table class="table table-striped table-bordered datatable" id="datatable" style="width:100% !important"></table>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    @Scripts.Render("~/jquery/viewgrid")
    @Scripts.Render("~/jquery/select2")
    <script type="text/javascript">
        ActiveMenu("Studies");
        $(document).ready(function () {
            $(".select2").select2({
                allowClear: true,
            });
            $('.daterange').daterangepicker({
                autoUpdateInput: true,
                singleDatePicker: false,
                showDropdowns: true,
                locale: {
                    cancelLabel: 'Cancel',
                    format: 'DD/MMMM/YYYY'
                }
            });
            $('#datatable').DataTable({
                proccessing: true,
                serverSide: true,
                responsive: true,
                fixedHeader: {
                    header: true,
                    headerOffset: $('.header-navbar').outerHeight()
                },
                language: {
                    search: "",
                    searchPlaceholder: "Search..."
                },
                ajax: {
                    url: "@Url.Action("Index", "Studies")",
                    type: 'POST'
                },
                order: [[2, "@GlobalConfig.asc"]],
                columns: [
                    { data: "CustomerName", title: "Customer Name"},
                    { data: "ProposalNo", title: "Proposal No"},
                    {
                        data: "ProposalDate", title: "Proposal Date",
                        mRender: function (x) {
                            return moment(x).utc(x).local().format("DD/MM/YYYY")
                        }
                    },
                    { data: "Count", title: "Studies Count" },
                    {
                        data: null,
                        title: "Action",
                        sortable: false,
                        searchable: false,
                        orderable: false,
                        mRender: function (x) {
                            return BindActionButtons(x);
                        }
                    }
                ]
            });
        });

    const BindActionButtons = (data) => {
        var strButtons = '';
        //Edit button
        strButtons += '<a href="@Url.Action("Edit", "Studies")/' + data.Id + '" class="btn btn-sm btn-blue m-1">';
        strButtons += '<i class="fa fa-edit"></i> Edit';
        strButtons += '</a>';

        strButtons += '<a href="javascript:;" onclick="DeleteRecord($(this))" data-id="' + data.Id + '" class="btn btn-sm btn-primary btn-red m-1" ';
        strButtons += 'data-url="@Url.Action("Delete", "ServiceProvider")"" >';
        strButtons += '<i class="fa fa-trash"></i> <span>Delete</span>';
        strButtons += '</a>';
        return strButtons;
    };
    </script>
}
